In [ ]:
# Classname is Person
class Person:
# The constructor is init
    def __init__(self, name, age):
        self.name = name
        self.age = age

# myname is the class method   
    def myname(self):
        print("Hello my name is " + self.name)

# myage is the class method  
    def myage(self):
        print("Hello my age is ",self.age)

In [ ]:
p1 = Person("John", 36)

In [ ]:
# Object p1 with the person
p1

In [ ]:
p1.myname()

Hello my name is John

In [ ]:
p1.myage()

Hello my age is  36

In [ ]:
class Person:
    def __init__(mysillyobject, name, age):
        mysillyobject.name = name
        mysillyobject.age = age
    def myfunc(abc):
        print("Hello my name is " + abc.name)
    def myfunc1(xyz):
        print("Hello my name is " , xyz.age)

p1 = Person("John", 36)

In [ ]:
p1.myfunc()

Hello my name is John

In [ ]:
p1.myfunc1()

Hello my name is  36

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

class Student(Person):
  pass

In [ ]:
x = Student("John", "Doe")
x.printname()

John Doe

In [ ]:
numbers = [1,2,3,4,5]
for i in numbers:
    print(i)

1
2
3
4
5

In [ ]:
import datetime
x = datetime.datetime.now()
print(x)

2022-11-26 11:52:07.037473

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

2022
Saturday

In [ ]:
import datetime

x = datetime.datetime(2020, 5, 17)

print(x)

2020-05-17 00:00:00

In [ ]:
import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

June

In [ ]:
import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

30

In [ ]:
print(y["city"])

New York

In [ ]:
import json

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "city": "New York"}

In [ ]:
type(y)

str

In [ ]:
import json
 
# Data to be written
dictionary = {
    "name": "sathiyajith",
    "rollno": 56,
    "cgpa": 8.6,
    "phonenumber": "9976770500"
    }
 
# Serializing json
json_object = json.dumps(dictionary, indent=4)
 
# Writing to sample.json
with open("sample.json", "w") as outfile:
    outfile.write(json_object)